In [1]:
import pandas as pd
ratings = pd.read_csv('Data/ratings.csv')
movies = pd.read_csv('Data/movies.csv')
links = pd.read_csv('Data/links.csv')

In [2]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [23]:
movies.shape

(9742, 3)

In [3]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [22]:
ratings.shape

(100836, 4)

In [4]:
links.head(2)

   movieId  imdbId  tmdbId
0        1  114709   862.0
1        2  113497  8844.0

In [19]:
movies_ratings=ratings.join(movies.set_index('movieId'), on='movieId', how='left', lsuffix='r')

In [20]:
movies_ratings.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [21]:
movies_ratings.shape

(100836, 6)

In [27]:
movies_ratings.isna().sum().sum()

0

In [28]:
movies_ratings_imdb=movies_ratings.join(links.set_index('movieId'), on='movieId', how='left', lsuffix='r')

In [29]:
movies_ratings_imdb.head()

,userId,movieId,rating,timestamp,title,genres,imdbId,tmdbId
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,113277,949.0
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,114369,807.0
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,114814,629.0

In [38]:
movies_ratings_imdb.imdbId.min()

417

In [39]:
movies_ratings_imdb.imdbId.max()

8391976

In [30]:
movies_ratings_imdb.shape

(100836, 8)

In [5]:
basics = pd.read_csv('Data/title.basics.tsv.gz', compression='gzip', sep='\t')

/Users/jresis/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [7]:
basics.shape

(7554298, 9)

In [8]:
crew = pd.read_csv('Data/title.crew.tsv.gz', compression='gzip', sep='\t')

In [9]:
crew.head()

      tconst  directors writers
0  tt0000001  nm0005690      \N
1  tt0000002  nm0721526      \N
2  tt0000003  nm0721526      \N
3  tt0000004  nm0721526      \N
4  tt0000005  nm0005690      \N

In [10]:
crew.shape

(7554298, 3)

In [15]:
crew[crew['tconst']=='tt0114709']

,tconst,directors,writers
112201,tt0114709,nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923..."

In [11]:
principals = pd.read_csv('Data/title.principals.tsv.gz', compression='gzip', sep='\t')

In [12]:
principals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [13]:
principals.shape

(42750666, 6)

In [34]:
basics.rename(columns = {'tconst':'imdbId'}, inplace = True)
crew.rename(columns = {'tconst':'imdbId'}, inplace = True)
principals.rename(columns = {'tconst':'imdbId'}, inplace = True)

In [35]:
principals.head()

,imdbId,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [42]:
principals.imdbId.value_counts()

tt7436842     10
tt2866844     10
tt9618490     10
tt0747038     10
tt11138276    10
              ..
tt6560866      1
tt2092994      1
tt2353721      1
tt12546706     1
tt6213550      1
Name: imdbId, Length: 6864896, dtype: int64

In [43]:
basics_crew=basics.join(crew.set_index('imdbId'), on='imdbId', how='inner', lsuffix='b')

In [65]:
basics_crew.head(2)

,imdbId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N

In [66]:
basics_crew.imdbId=basics_crew.imdbId.map(lambda x: int(x.strip("tt")))

In [68]:
basics_crew.duplicated(subset='imdbId').sum()

0

In [44]:
basics_crew_principals=basics_crew.join(principals.set_index('imdbId'), on='imdbId', how='inner', lsuffix='b')

In [45]:
basics_crew_principals.head()

,imdbId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,ordering,nconst,category,job,characters
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,1,nm1588970,self,\N,"[""Self""]"
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,2,nm0005690,director,\N,\N
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,3,nm0374658,cinematographer,director of photography,\N
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N,1,nm0721526,director,\N,\N
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",nm0721526,\N,2,nm1335271,composer,\N,\N

In [46]:
x='00046'

In [49]:
int(x)

46

In [51]:
basics_crew_principals.imdbId=basics_crew_principals.imdbId.map(lambda x: int(x.strip("tt")))

In [52]:
basics_crew_principals.head(2)

,imdbId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,ordering,nconst,category,job,characters
0,1,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,1,nm1588970,self,\N,"[""Self""]"
0,1,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",nm0005690,\N,2,nm0005690,director,\N,\N

In [61]:
basics_crew_principals[basics_crew_principals['imdbId']==114709]

,imdbId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,ordering,nconst,category,job,characters
112201,114709,movie,Toy Story,Toy Story,0,1995,\N,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",10,nm0169505,writer,screenplay by,\N
112201,114709,movie,Toy Story,Toy Story,0,1995,\N,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",1,nm0000158,actor,\N,"[""Woody""]"
112201,114709,movie,Toy Story,Toy Story,0,1995,\N,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",2,nm0000741,actor,\N,"[""Buzz Lightyear""]"
112201,114709,movie,Toy Story,Toy Story,0,1995,\N,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",3,nm0725543,actor,\N,"[""Mr. Potato Head""]"
112201,114709,movie,Toy Story,Toy Story,0,1995,\N,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",4,nm0001815,actor,\N,"[""Slinky Dog""]"
112201,114709,movie,Toy Story,Toy Story,0,1995,\N,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",5,nm0005124,director,\N,\N
112201,114709,movie,Toy Story,Toy Story,0,1995,\N,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",6,nm0230032,writer,original story by,\N
112201,114709,movie,Toy Story,Toy Story,0,1995,\N,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",7,nm0004056,writer,original story by,\N
112201,114709,movie,Toy Story,Toy Story,0,1995,\N,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",8,nm0710020,writer,original story by,\N
112201,114709,movie,Toy Story,Toy Story,0,1995,\N,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",9,nm0923736,writer,screenplay by,\N

In [63]:
basics_crew_principals[basics_crew_principals['primaryTitle']=='Forrest Gump']

,imdbId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers,ordering,nconst,category,job,characters
107444,109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",nm0000709,"nm0343165,nm0744839",10,nm0005494,producer,producer,\N
107444,109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",nm0000709,"nm0343165,nm0744839",1,nm0000158,actor,\N,"[""Forrest Gump""]"
107444,109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",nm0000709,"nm0343165,nm0744839",2,nm0000705,actress,\N,"[""Jenny Curran""]"
107444,109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",nm0000709,"nm0343165,nm0744839",3,nm0000641,actor,\N,"[""Lieutenant Dan Taylor""]"
107444,109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",nm0000709,"nm0343165,nm0744839",4,nm0000398,actress,\N,"[""Mrs. Gump""]"
107444,109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",nm0000709,"nm0343165,nm0744839",5,nm0000709,director,\N,\N
107444,109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",nm0000709,"nm0343165,nm0744839",6,nm0343165,writer,novel,\N
107444,109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",nm0000709,"nm0343165,nm0744839",7,nm0744839,writer,screenplay,\N
107444,109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",nm0000709,"nm0343165,nm0744839",8,nm0277704,producer,producer,\N
107444,109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance",nm0000709,"nm0343165,nm0744839",9,nm0823330,producer,producer,\N
1917442,1166244,tvEpisode,Forrest Gump,Forrest Gump,0,2008,\N,\N,"Documentary,History",\N,nm0799871,1,nm0799871,writer,writer,\N
1917442,1166244,tvEpisode,Forrest Gump,Forrest Gump,0,2008,\N,\N,"Documentary,History",\N,nm0799871,2,nm2628999,producer,producer,\N
1917442,1166244,tvEpisode,Forrest Gump,Forrest Gump,0,2008,\N,\N,"Documentary,History",\N,nm0799871,3,nm1110522,editor,\N,\N
2273875,12286596,tvEpisode,Forrest Gump,Forrest Gump,0,2020,\N,\N,Talk-Show,nm5008380,"nm5008380,nm6001368",1,nm6001368,actor,\N,"[""Chase Cousins""]"
2273875,12286596,tvEpisode,Forrest Gump,Forrest Gump,0,2020,\N,\N,Talk-Show,nm5008380,"nm5008380,nm6001368",2,nm5008380,actor,\N,"[""Geoffrey""]"
2273875,12286596,tvEpisode,Forrest Gump,Forrest Gump,0,2020,\N,\N,Talk-Show,nm5008380,"nm5008380,nm6001368",3,nm11000240,actor,\N,"[""Jenny""]"
2273875,12286596,tvEpisode,Forrest Gump,Forrest Gump,0,2020,\N,\N,Talk-Show,nm5008380,"nm5008380,nm6001368",4,nm6648244,actor,\N,"[""Kirk""]"
2273875,12286596,tvEpisode,Forrest Gump,Forrest Gump,0,2020,\N,\N,Talk-Show,nm5008380,"nm5008380,nm6001368",5,nm3954923,producer,producer,\N
2273875,12286596,tvEpisode,Forrest Gump,Forrest Gump,0,2020,\N,\N,Talk-Show,nm5008380,"nm5008380,nm6001368",6,nm7269497,cinematographer,\N,\N
2273875,12286596,tvEpisode,Forrest Gump,Forrest Gump,0,2020,\N,\N,Talk-Show,nm5008380,"nm5008380,nm6001368",7,nm5070281,production_designer,\N,\N
3054561,13653370,tvEpisode,Forrest Gump,Forrest Gump,0,2020,\N,\N,Talk-Show,\N,\N,1,nm12137890,self,\N,"[""Self - Host""]"
3054561,13653370,tvEpisode,Forrest Gump,Forrest Gump,0,2020,\N,\N,Talk-Show,\N,\N,2,nm12137891,self,\N,"[""Self - Host""]"
3572984,1775407,tvEpisode,Forrest Gump,Forrest Gump,0,2009,\N,\N,Comedy,\N,nm3973010,1,nm0000158,archive_footage,\N,"[""Forrest Gump""]"
3572984,1775407,tvEpisode,Forrest Gump,Forrest Gump,0,2009,\N,\N,Comedy,\N,nm3973010,2,nm0005286,archive_footage,\N,"[""Little Forrest""]"
3572984,1775407,tvEpisode,Forrest Gump,Forrest Gump,0,2009,\N,\N,Comedy,\N,nm3973010,3,nm0000705,archive_footage,\N,"[""Jenny""]"
3572984,1775407,tvEpisode,Forrest Gump,Forrest Gump,0,2009,\N,\N,Comedy,\N,nm3973010,4,nm3973010,writer,written by,\N
4794342,3905238,tvEpisode,Forrest Gump,Forrest Gump,0,2014,\N,\N,Comedy,\N,"nm0797520,nm4932106,nm0366816,nm2098823,nm3758...",1,nm3929163,actor,\N,"[""Narrator""]"
4794342,3905238,tvEpisode,Forrest Gump,Forrest Gump,0,2014,\N,\N,Comedy,\N,"nm0797520,nm4932106,nm0366816,nm2098823,nm3758...",2,nm0797520,writer,creator,\N
4794342,3905238,tvEpisode,Forrest Gump,Forrest Gump,0,2014,\N,\N,Comedy,\N,"nm0797520,nm4932106,nm0366816,nm2098823,nm3758...",3,nm4932106,writer,creator,\N
4794342,3905238,tvEpisode,Forrest Gump,Forrest Gump,0,2014,\N,\N,Comedy,\N,"nm0797520,nm4932106,nm0366816,nm2098823,nm3758...",4,nm0366816,writer,\N,\N
4794342,3905238,tvEpisode,Forrest Gump,Forrest Gump,0,2014,\N,\N,Comedy,\N,"nm0797520,nm4932106,nm0366816,nm2098823,nm3758...",5,nm2098823,writer,written by,\N
4794342,3905238,tvEpisode,Forrest Gump,Forrest Gump,0,2014,\N,\N,Comedy,\N,"nm0797520,nm4932106,nm0366816,nm2098823,nm3758...",6,nm3758935,writer,written by,\N
4794342,3905238,tvEpisode,Forrest Gump,Forrest Gump,0,2014,\N,\N,Comedy,\N,"nm0797520,nm4932106,nm0366816,nm2098823,nm3758...",7,nm4191110,writer,written by,\N
4794342,3905238,tvEpisode,Forrest Gump,Forrest Gump,0,2014,\N,\N,Comedy,\N,"nm0797520,nm4932106,nm0366816,nm2098823,nm3758...",8,nm6375615,writer,written by,\N
5404867,5274860,tvEpisode,Forrest Gump,Forrest Gump,0,2009,\N,\N,Comedy,nm2136407,nm6388198,1,nm5378921,actor,\N,"[""Grégou""]"
5404867,5274860,tvEpisode,Forrest Gump,Forrest Gump,0,2009,\N,\N,Comedy,nm2136407,nm6388198,2,nm6388198,actor,\N,"[""Le coach""]"
5404867,5274860,tvEpisode,Forrest Gump,Forrest Gump,0,2009,\N,\N,Comedy,nm2136407,nm6388198,3,nm6388258,actor,\N,"[""Voix de l'émission""]"
5404867,5274860,tvEpisode,Forrest Gump,Forrest Gump,0,2009,\N,\N,Comedy,nm2136407,nm6388198,4,nm2136407,director,\N,\N
5480827,5443092,tvEpisode,Forrest Gump,Forrest Gump,0,2011,\N,\N,"Comedy,Short",nm5296896,"nm5296896,nm7906378",1,nm5296896,actor,\N,"[""Mr. Mendo""]"
5480827,5443092,tvEpisode,Forrest Gump,Forrest Gump,0,2011,\N,\N,"Comedy,Short",nm5296896,"nm5296896,nm7906378",2,nm7906378,writer,writer,\N
5716853,5973974,tvEpisode,Forrest Gump,Forrest Gump,0,2015,\N,\N,Talk-Show,\N,\N,1,nm7539314,actor,\N,\N
5716853,5973974,tvEpisode,Forrest Gump,Forrest Gump,0,2015,\N,\N,Talk-Show,\N,\N,2,nm8365797,actor,\N,\N
5716853,5973974,tvEpisode,Forrest Gump,Forrest Gump,0,2015,\N,\N,Talk-Show,\N,\N,3,nm8365798,actor,\N,\N
5716853,5973974,tvEpisode,Forrest Gump,Forrest Gump,0,2015,\N,\N,Talk-Show,\N,\N,4,nm7539315,actor,\N,\N
6103779,6829676,tvEpisode,Forrest Gump,Forrest Gump,0,2016,\N,\N,Comedy,\N,\N,1,nm6569371,self,\N,"[""Self""]"
6290006,7229174,tvEpisode,Forrest Gump,Forrest Gump,0,2014,\N,\N,"Comedy,Talk-Show",nm5741914,nm5741914,1,nm5741914,self,\N,"[""Self""]"

In [69]:
combined=movies_ratings_imdb.join(basics_crew.set_index('imdbId'), on='imdbId', how='left', lsuffix='b')

In [70]:
combined.head()

,userId,movieId,rating,timestamp,title,genresb,imdbId,tmdbId,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,directors,writers
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,movie,Toy Story,Toy Story,0,1995,\N,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923..."
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0,movie,Grumpier Old Men,Grumpier Old Men,0,1995,\N,101,"Comedy,Romance",nm0222043,nm0425756
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,113277,949.0,movie,Heat,Heat,0,1995,\N,170,"Crime,Drama,Thriller",nm0000520,nm0000520
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,114369,807.0,movie,Se7en,Se7en,0,1995,\N,127,"Crime,Drama,Mystery",nm0000399,nm0001825
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,114814,629.0,movie,The Usual Suspects,The Usual Suspects,0,1995,\N,106,"Crime,Mystery,Thriller",nm0001741,nm0003160

In [71]:
combined.shape

(100836, 18)

In [96]:
condensed=combined.drop(columns=['genres','writers','timestamp','imdbId','tmdbId','titleType','primaryTitle','originalTitle','isAdult','endYear'])

In [97]:
condensed.head(2)

,userId,movieId,rating,title,genresb,startYear,runtimeMinutes,directors
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,81,nm0005124
1,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance,1995,101,nm0222043

In [107]:
condensed.dropna(inplace=True)

In [108]:
for column in condensed.columns:
     print("\n" + column)
     print(condensed[column].value_counts())

userId
414    2695
599    2475
474    2105
448    1861
274    1345
       ...
595      20
569      20
431      20
442      20
576      19
Name: userId, Length: 610, dtype: int64

movieId
356       329
318       317
296       307
593       279
2571      278
         ...
153386      1
57147       1
5986        1
100304      1
8196        1
Name: movieId, Length: 9707, dtype: int64

rating
4.0    26803
3.0    20035
5.0    13196
3.5    13125
4.5     8546
2.0     7545
2.5     5550
1.0     2809
1.5     1791
0.5     1365
Name: rating, dtype: int64

title
Forrest Gump (1994)                     329
Shawshank Redemption, The (1994)        317
Pulp Fiction (1994)                     307
Silence of the Lambs, The (1991)        279
Matrix, The (1999)                      278
                                       ...
Mr. Nanny (1993)                          1
Day of the Locust, The (1975)             1
Room for Romeo Brass, A (1999)            1
Winnie the Pooh Goes Visiting (1971)      1
Unknown White Male (2005)                 1
Name: title, Length: 9705, dtype: int64

genresb
Comedy                                          7193
Drama                                           6290
Comedy|Romance                                  3967
Comedy|Drama|Romance                            3000
Comedy|Drama                                    2849
                                                ...
Action|Adventure|Comedy|Documentary|Fantasy        1
Animation|Crime|Drama                              1
Crime|Thriller|Western                             1
Action|Adventure|Comedy|Sci-Fi|IMAX                1
Action|Comedy|Horror|Sci-Fi|Thriller|Western       1
Name: genresb, Length: 951, dtype: int64

startYear
1995    6109
1994    5327
1999    4590
1996    4477
2000    4218
        ...
1917       1
1919       1
1990       1
1972       1
1908       1
Name: startYear, Length: 119, dtype: int64

runtimeMinutes
101    2226
116    2214
107    2192
108    2158
106    2146
       ...
184       1
305       1
203       1
551       1
39        1
Name: runtimeMinutes, Length: 251, dtype: int64

directors
nm0000229                        2026
nm0000709                        1080
nm0000116                         959
nm0000233                         930
nm0000318                         913
                                 ...
nm1458734                           1
nm0565342,nm0760523,nm0322083       1
nm0376006                           1
nm0624714                           1
nm0358759                           1
Name: directors, Length: 4302, dtype: int64

In [118]:
condensed['startYear']=condensed['startYear'].astype(float)

In [119]:
condensed=condensed[condensed['runtimeMinutes']!='\\N']

In [120]:
condensed['runtimeMinutes']=condensed['runtimeMinutes'].astype(float)

In [121]:
condensed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100760 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   userId          100760 non-null  int64
 1   movieId         100760 non-null  int64
 2   rating          100760 non-null  float64
 3   title           100760 non-null  object
 4   genresb         100760 non-null  object
 5   startYear       100760 non-null  float64
 6   runtimeMinutes  100760 non-null  float64
 7   directors       100760 non-null  object
dtypes: float64(3), int64(2), object(3)
memory usage: 6.9+ MB

In [122]:
eda_df=condensed

In [123]:
genres = set()
for genre_string in eda_df['genresb']:
   genre_list = genre_string.split('|')
   for genre in genre_list:
       genres.add(genre)
genres = list(genres)

In [124]:
for g in genres:
    eda_df[g]=eda_df['genresb'].apply(lambda x: 1 if g in x else 0)
    #Last line converts Trues to 1 and Falses to 0 for the genres.

In [126]:
eda_df.drop('genresb',axis=1,inplace=True)

In [127]:
eda_df.head(2)

,userId,movieId,rating,title,startYear,runtimeMinutes,directors,Musical,Film-Noir,Thriller,...,Action,Mystery,Horror,Romance,Adventure,Animation,Crime,Documentary,(no genres listed),Fantasy
0,1,1,4.0,Toy Story (1995),1995.0,81.0,nm0005124,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1,1,3,4.0,Grumpier Old Men (1995),1995.0,101.0,nm0222043,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [128]:
pd.get_dummies(eda_df)

,userId,movieId,rating,startYear,runtimeMinutes,Musical,Film-Noir,Thriller,Drama,Children,...,directors_nm5912520,directors_nm6247887,directors_nm6272053,directors_nm6406593,directors_nm6466808,directors_nm6488058,directors_nm7017062,directors_nm7837906,"directors_nm9292847,nm3338324","directors_nm9779507,nm0384722"
0,1,1,4.0,1995.0,81.0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,3,4.0,1995.0,101.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,6,4.0,1995.0,170.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,47,5.0,1995.0,127.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,50,5.0,1995.0,106.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,610,166534,4.0,2016.0,117.0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
100832,610,168248,5.0,2017.0,122.0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
100833,610,168250,5.0,2017.0,104.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100834,610,168252,5.0,2017.0,137.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100835,610,170875,3.0,2017.0,136.0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [129]:
directors = set()
for director_string in eda_df['directors']:
   director_list = director_string.split(',')
   for director in director_list:
       directors.add(director)
directors = list(directors)

In [130]:
for d in directors:
    eda_df[d]=eda_df['directors'].apply(lambda x: 1 if g in x else 0)
    #Last line converts Trues to 1 and Falses to 0 for the directors.

In [133]:
eda_df.drop('directors',axis=1,inplace=True)

In [134]:
eda_df.head(2)

,userId,movieId,rating,title,startYear,runtimeMinutes,Musical,Film-Noir,Thriller,Drama,...,nm0619836,nm1699934,nm0409036,nm0684342,nm0827750,nm0368674,nm2095224,nm4074404,nm0540148,nm0106456
0,1,1,4.0,Toy Story (1995),1995.0,81.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,3,4.0,Grumpier Old Men (1995),1995.0,101.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [135]:
eda_df.shape

(100760, 4665)

#eda_df.groupby('rating').median()

In [98]:
#Setting up a new df called features for PCA purposes.
features=condensed[['genresb','startYear','runtimeMinutes','directors']]

In [99]:
genres = set()
for genre_string in features['genresb']:
   genre_list = genre_string.split('|')
   for genre in genre_list:
       genres.add(genre)
genres = list(genres)

In [100]:
for g in genres:
    features[g]=features['genresb'].apply(lambda x: 1 if g in x else 0)
    #Last line converts Trues to 1 and Falses to 0 for the genres.

<ipython-input-100-3e097d747ce4>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features[g]=features['genresb'].apply(lambda x: 1 if g in x else 0)

In [102]:
features.drop('genresb',axis=1,inplace=True)

In [103]:
features.head(2)

,startYear,runtimeMinutes,directors,Musical,Film-Noir,Thriller,Drama,Children,Sci-Fi,Comedy,...,Action,Mystery,Horror,Romance,Adventure,Animation,Crime,Documentary,(no genres listed),Fantasy
0,1995,81,nm0005124,0,0,0,0,1,0,1,...,0,0,0,0,1,1,0,0,0,1
1,1995,101,nm0222043,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
#pd.get_dummies(features,)

In [80]:
condensed.head(2)

,userId,movieId,rating,title,genresb,startYear,runtimeMinutes,directors,Musical,Film-Noir,...,Action,Mystery,Horror,Romance,Adventure,Animation,Crime,Documentary,(no genres listed),Fantasy
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,81,nm0005124,0,0,...,0,0,0,0,1,1,0,0,0,1
1,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance,1995,101,nm0222043,0,0,...,0,0,0,1,0,0,0,0,0,0

In [81]:
condensed.drop('genresb',axis=1,inplace=True)

In [94]:
condensed.directors.value_counts()[:50]

nm0000229              2026
nm0000709              1080
nm0000116               959
nm0000233               930
nm0000318               913
nm0634240               858
nm0000631               824
nm0000217               796
nm0000399               793
nm0001392               760
nm0000165               756
nm0000040               639
nm0001060               616
nm0000184               611
nm0001661               596
nm0000338               581
nm0001532               561
nm0000386               559
nm0000033               550
nm0001149               532
nm0001756               522
nm0001741               507
nm0001716               482
nm0001054,nm0001053     466
nm0001752               465
nm0001104               452
nm0000095               452
nm0001708               448
nm0000361               443
nm0000600               443
nm0000881               439
nm0005366               436
nm0001723               431
nm0000142               428
nm0718645               422
nm0000416               417
nm0000583               413
nm0893659               387
nm0001129               386
nm0796117               373
nm0001469               369
nm0000682               364
nm0000601               358
nm0003620               354
nm0005222               346
nm0000957               343
nm0125803,nm0268380     342
nm0000484               341
nm0000455               339
nm0000108               334
Name: directors, dtype: int64

In [93]:
condensed.directors.value_counts()[:50].sum()

28242

In [91]:
condensed.movieId.value_counts()

356       329
318       317
296       307
593       279
2571      278
         ...
5986        1
100304      1
34800       1
83976       1
8196        1
Name: movieId, Length: 9724, dtype: int64

In [92]:
condensed[condensed['movieId']==356].head(1)
#This movie was rated the most in our dataset (329 times).

,userId,movieId,rating,title,startYear,runtimeMinutes,directors,Musical,Film-Noir,Thriller,...,Action,Mystery,Horror,Romance,Adventure,Animation,Crime,Documentary,(no genres listed),Fantasy
20,1,356,4.0,Forrest Gump (1994),1994,142,nm0000709,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [95]:
condensed.head(10)

,userId,movieId,rating,title,startYear,runtimeMinutes,directors,Musical,Film-Noir,Thriller,...,Action,Mystery,Horror,Romance,Adventure,Animation,Crime,Documentary,(no genres listed),Fantasy
0,1,1,4.0,Toy Story (1995),1995,81,nm0005124,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1,1,3,4.0,Grumpier Old Men (1995),1995,101,nm0222043,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,1,6,4.0,Heat (1995),1995,170,nm0000520,0,0,1,...,1,0,0,0,0,0,1,0,0,0
3,1,47,5.0,Seven (a.k.a. Se7en) (1995),1995,127,nm0000399,0,0,1,...,0,1,0,0,0,0,0,0,0,0
4,1,50,5.0,"Usual Suspects, The (1995)",1995,106,nm0001741,0,0,1,...,0,1,0,0,0,0,1,0,0,0
5,1,70,3.0,From Dusk Till Dawn (1996),1996,108,nm0001675,0,0,1,...,1,0,1,0,0,0,0,0,0,0
6,1,101,5.0,Bottle Rocket (1996),1996,91,nm0027572,0,0,0,...,0,0,0,1,1,0,1,0,0,0
7,1,110,4.0,Braveheart (1995),1995,178,nm0000154,0,0,0,...,1,0,0,0,0,0,0,0,0,0
8,1,151,5.0,Rob Roy (1995),1995,139,nm0001994,0,0,0,...,1,0,0,1,0,0,0,0,0,0
9,1,157,5.0,Canadian Bacon (1995),1995,91,nm0601619,0,0,0,...,0,0,0,0,0,0,0,0,0,0